@import '@styles/theme.module.scss';
@import '@styles/theme.module.scss';

.root {
    height: auto;
}
.caseContainer {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 2fr;
    height: 25vh;
    margin-bottom: 20px;
}
.item {
    background-color: #e1e1e1;
    padding: 12px;
}

.bgScroll {
    font-size: 12px;
    color: #ffffff;
    background:
        no-repeat padding-box padding-box right 40% bottom 45% / contain scroll
            url(https://cdn-icons-png.flaticon.com/256/7441/7441511.png),
        no-repeat padding-box border-box right 55% bottom 90% / 60px 60px scroll
            url(https://cdn-icons-png.flaticon.com/256/1514/1514935.png),
        repeat padding-box border-box 0% / auto scroll
            url(https://images.unsplash.com/photo-1559212958-2c88ccd83dde?q=80&w=1931&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-attachment: scroll, local, scroll;
    overflow: auto;
}

.shorthand {
    width: auto;
    border: 6px dashed darkcyan;

    background:
        no-repeat padding-box padding-box right 35% bottom 45% / contain scroll
            url(https://cdn-icons-png.flaticon.com/256/2938/2938237.png),
        no-repeat right 25% bottom 30%/ 100px 100px url(https://cdn.iconscout.com/icon/free/png-256/free-cheese-1806482-1534540.png?f=webp&w=256),
        rgba(194, 142, 56);
}

.effect {
    background-blend-mode: multiply, overlay;
}
